.App {
  display: flex; /* Allow stacking header, main, and footer */
  flex-direction: column;
  min-height: 100vh;  /* Set minimum height for viewport coverage */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  flex: 1;  /* Make main content take up remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Add some padding for content */
}

header, footer { /* Fix header and footer positions */
  /* Style header and footer as needed (background, color, etc.) */
}

header {
  top: 0; /* Position header at the top */
}

footer {
  bottom: 0; /* Position footer at the bottom */
}
